<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xmlns="http://www.nlog-project.org/schemas/NLog.xsd">

	<variable name="logDir" value=""/>

	<targets>
		<target name="info"
				xsi:type="Debugger"
				layout="${time} INFO: ${message}"
		/>
		<target name="debug"
				xsi:type="Debugger"
				layout="${time} DEBUG: ${message}"
		/>
		<target name="error"
				xsi:type="Debugger"
				layout="${time} ERROR: ${message}"
		/>
		<target name="infoFile" xsi:type="File"
				fileName="${logDir}/OphiussaServerManager_Info.log"
				layout="${time} [${level:uppercase=true}] ${message}"
				archiveFileName="${logDir}/OphiussaServerManager_Info.{#}.log"
				archiveNumbering="DateAndSequence"
				archiveEvery="Day"
				archiveDateFormat="yyyyMMdd"
				maxArchiveFiles="30"
				maxArchiveDays="30"
		/>
		<target name="debugFile" xsi:type="File"
				fileName="${logDir}/OphiussaServerManager_Debug.log"
				layout="${time} [${level:uppercase=true}] ${message}"
				archiveFileName="${logDir}/OphiussaServerManager_Debug.{#}.log"
				archiveNumbering="DateAndSequence"
				archiveEvery="Day"
				archiveDateFormat="yyyyMMdd"
				maxArchiveFiles="30"
				maxArchiveDays="30"
		/>
		<target name="errorFile" xsi:type="File"
				fileName="${logDir}/OphiussaServerManager_Error.log"
				layout="${time} [${level:uppercase=true}] ${message}"
				archiveFileName="${logDir}/OphiussaServerManager_Error.{#}.log"
				archiveNumbering="DateAndSequence"
				archiveEvery="Day"
				archiveDateFormat="yyyyMMdd"
				maxArchiveFiles="30"
				maxArchiveDays="30"
		/>
		<target name="update" xsi:type="File"
				fileName="${logDir}/OphiussaServerManager_Update.log"
				layout="${time} [${level:uppercase=true}] ${message}"
				archiveFileName="${logDir}/OphiussaServerManager_Update.{#}.log"
				archiveNumbering="DateAndSequence"
				archiveEvery="Day"
				archiveDateFormat="yyyyMMdd"
				maxArchiveFiles="30"
				maxArchiveDays="30"
		/>
	</targets>

	<rules>
		<logger enabled="true" name="*" maxlevel="info" writeTo="info"/>
		<logger enabled="true" name="*" maxlevel="debug" writeTo="debug"/>
		<logger enabled="true" name="*" minlevel="error" writeTo="error"/>

		<logger enabled="true" name="*" maxlevel="info" writeTo="infoFile"/>
		<logger enabled="true" name="*" maxlevel="debug" writeTo="debugFile"/>
		<logger enabled="true" name="*" minlevel="error" writeTo="errorFile"/>

		<logger enabled="true" name="OphiussaServerManager.Tools.Update" minlevel="info" writeTo="update"/>
	</rules>

</nlog>